h1 {
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: calc(100% / 5 - 20px);
        list-style: none;
        margin-bottom: 1.25rem;
        text-align: center;
        .card {
            background-color: dodgerblue;
            padding: .9375rem 1.25rem 2.1875rem 1.25rem;
        }
    }
}